{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="content" id="main">
        <div id="task_number_list">
            <div class="display_f">          
                {% for task in tasks %}
                    <div>
                        <a href="{{ task.get_absolute_url }}">
                            {% if task.id in session.task.list %}
                                <div class="number_task  {{ task.level }}_tasks_color a_black">{{ forloop.counter }}</div>
                            {% else %}
                                <div class="number_task {{ task.level }}_tasks_color_opacity a_black">{{ forloop.counter }}</div>
                            {% endif %}
                        </a>
                        {{ current_session_task.id }}
                        {% if task.id == current_task.id %}
                            <div id="indicator"></div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="background_white padding_05 box_shadow_gray" id="functional_box">
            <div class="text_a_c padding_05">
                <h5>{{ current_task.title }}</h5>
            </div>
            <form action="{% url 'orm:task' current_task.id %}" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Code</span> 
                    {{ form.code }}
                    {% comment %} <input type="text" class="form-control" name="code" autocomplete="off" value={% if current_session_task %}{{ current_session_task.code }}{% endif %}> {% endcomment %}
                </div>
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="success">
                {% if current_session_task.state %}
                    <img class="icon_check" src="{% static 'img/ok.png' %}">
                {% elif success_info %}
                    <img class="icon_check" id="icon_success" src="{% static 'img/ok.png' %}">
                {% elif success_info == False %}
                    <img class="icon_check" id="icon_failure" src="{% static 'img/error.png' %}">
                {% endif %}
            </div>        
            
            <div class="buttons_line">
                <button onclick="solution()" id="solution_button" class="button btn-warning width_30">Solution</button>
                <a href="{% url 'orm:main' %}"><button class="button btn-primary width_30">Next</button></a>
            </div>
            <div id="solution" class="display_none">
                <hr>
                {% for solution in current_task.result.all %}
                    <h5>{{ solution.code }}</h5>
                {% endfor %}
            </div>
        </div>
        <div class="background_white box_shadow_gray" id="list_tasks">
            <div class="group_tasks">
                <div class="level_box easy_tasks_color">
                    <p class="padding_05 margin_0">Easy level</p>
                </div>
                <div class="tasks">
                    {% for task in easy %}
                        <a href={{ task.get_absolute_url }}>
                            <div class="task">
                                <p>{{ task.title|truncatechars:30 }}</p>
                                {% if task.id in session.task.list %}
                                    <img class="icon_okk" src="{% static 'img/okk.png' %}">
                                {% else %}
                                    <div></div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
           
            <div class="group_tasks">
                <div class="level_box medium_tasks_color">
                    <p class="padding_05 margin_0">Medium level</p>
                </div>
                <div class="tasks">
                    {% for task in medium %}
                        <a href={{ task.get_absolute_url }}>
                            <div class="task">
                                <p>{{ task.title|truncatechars:30 }}</p>
                                {% if task.id in session.task.list %}
                                    <img class="icon_okk" src="{% static 'img/okk.png' %}">
                                {% else %}
                                    <div></div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="group_tasks">
                <div  class="level_box hard_tasks_color">
                    <p class="padding_05 margin_0">Hard level</p>
                </div>
                <div class="tasks">
                    {% for task in hard %}
                        <a href={{ task.get_absolute_url }}>
                            <div class="task">
                                <p>{{ task.title|truncatechars:30 }}</p>
                                {% if task.id in session.task.list %}
                                    <img class="icon_okk" src="{% static 'img/okk.png' %}">
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="image_models">
            <img class="width_100" src="{% static 'img/models.jpg' %}">
        </div>
    </div>
    
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock content %}