#functional_box{
    grid-column: 1;
    grid-row: 2/4;
    background: white;
}
#indicator{
    height: 0.5rem;
    width: 2rem;
    background: rgb(204, 0, 255);
    margin: 0 0.5rem;
}
#image_models{
    background: #ffffff;
    grid-column: 1;
    grid-row: 4/6;
}
#imain{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#list_tasks{
    grid-column: 2;
    grid-row: 1/6;
}
#main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4rem, repeat(4, 215px);
    gap: 1rem;
}
#main > div {
    box-shadow: 1px 1px 20px gray;
}
#main_bar {
    max-width: 100vw;
    height: 65px;
    background: #00d546;
}
#solution{
    margin-top: 2rem;
    padding: 1rem;
}
#task_number_list{
    grid-column: 1;
    grid-row: 1;
    background: white;
    display: flex;
    align-items: center;
   
}
.background_gray{
    background: rgb(218, 218, 218);
}
.button{
    padding: 0.7rem 2.5rem;
    font-size: 2rem;
    border: 0;
    color: white;
    border-radius: 1rem;
}
.button:hover{
    color: white;
}
.buttons_line{
    text-align: center;
}
.easy_tasks_color{
    background: rgba(5, 251, 86, 1);
}
.easy_tasks_color_opacity{
    background: rgba(5, 251, 86, 0.4);
}
.group_tasks{
    height: 33.33%;
}
.hard_tasks_color{
    background: rgba(255, 46, 46, 1)  ;  
}
.hard_tasks_color_opacity{
    background: rgba(255, 46, 46, 0.4)  ;  
}
.icon_check{
    width: 3rem;
    height: 3rem;
}
.icon_okk{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.level_box{
    width: 100%;
    text-align: center;
    height: 2.5rem;
}
.medium_tasks_color{
    background: rgba(0, 102, 255, 1);
}
.medium_tasks_color_opacity{
    background: rgba(0, 102, 255, 0.4);
}
.number_task{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    color: #151515;
    border-radius: 50% 50% 0 0;
}
.success{
    height: 4rem;
    padding: 0.5rem;
    text-align: center;
}
.task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0.5rem;
}
.task > p {
    margin: 0;
}
.task:hover{
    background: rgb(197, 197, 197);
}
.tasks{
    overflow-y: scroll;
    height: calc(100% - 2.5rem);
}
