a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}
.a_white{
    color: white;
}
.a_white:hover{
    color: black;
}
.a_black{
    color: black;
}
.a_black:hover{
    color: white;
}
.margin_0{
    margin: 0;
}
.color_white{
    color: white;
}
.content{
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 1rem;
}
.background_white{
    background: white;
}
.display_f{display: flex;}
.display_none{
    display: none;
}
.overflow_y_s{
    overflow-y: scroll;
}
.padding_05{
    padding: 0.5rem;
}
.text_a_c{
    text-align: center;
}
.width_30{
    width: 30%;
}
.width_100{
    width: 100%;
}
